<el-container>
    <el-header>Header</el-header>
    <el-container>
      <el-aside width="200px">
              <router-link to="/component1">component1</router-link>
              <br>
              <router-link to="/component2">component2</router-link>
      </el-aside>
      <el-container>
        <el-main>
             <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </el-container>
<script>
    new Vue({
        el: '#app',
        router,
        data: {
            message: 'Hello Vue main-----!'
        }
    })
</script>